:root {
	--text-primary: #403f3d;
	--text-inverse: #e1d4c9;
	--text-accent: #b0907a;
	--background-page: #e1d4c9;
	--background-container: #665f55;
	--background-overlay: rgba(64, 63, 61, 0.8);
	--border-primary: #c1b6ad;
	--border-inverse: #665f55;
	--text-primary: #403f3d;
	--dark-text-primary: #e1d4c9;
	--dark-text-inverse: #e1d4c9;
	--dark-text-accent: #b0907a;
	--dark-bg-page: #292826;
	--dark-bg-container: #403f3d;
	--dark-bg-overlay: rgba(41, 40, 38, 0.8);
	--dark-border-primary: #665f55;
	--dark-border-inverse: #c1b6ad;
	--background-modal: #e1d4c9;
	--background-modalcontrol: #665f55;
	--dark-bg-modal: var(--dark-bg-container);
	--dark-bg-modal-control: var(--dark-bg-page);

    --font-family: "Inter", sans-serif;
    --second-family: "Manrope", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    /*height: 100vh;*/
    margin: 0 auto;
    padding: 20px 40px 40px;
    background: var(--background-page);
}

h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 60px;
    line-height: 125%;
    color: var(--text-primary);
}

h3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    color: var(--text-primary);

}

a {
    text-decoration: none;
    color: var(--dark);
}

ul {
    list-style: none;
}

/* header section */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: block;
    width: 100px;
    height: 60px;
}

.nav-menu {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.nav-item, .coffee-menu {
    position: relative;
    height: 28px;
}

.coffee-menu {
    display: flex;
    gap: 8px;
}

.nav-link {
    display: block;
    height: 28px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: var(--text-primary);
}

.header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 184px;
    height: 44px;
}

.theme-switch {
    display: flex;
    gap: 8px;
    justify-content: center;
    text-align: center;
    border: 1px solid var(--border-primary);
    border-radius: 100px;
    padding: 4px;
    width: 88px;
    height: 44px;
    overflow: hidden;
}

button {
    width: 36px;
    height: 36px;
    background: var(--background-page);
    border-style: none;
    margin: 0;
    cursor: pointer;
}

.theme-switch svg {
    border-radius: 100px;
    fill: var(--text-accent);
}

.menu-line {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background: var(--text-primary);
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

/* hero section */
.hero-content {
    margin-top: 20px;
    padding: 100px 730px 100px 100px;
    border-radius: 40px;
    background: url(../images/bg-coffee.jpg) center center / cover no-repeat;
}

.hero-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 72px;
    line-height: 105%;
    color: var(--text-inverse);
}

.hero-title > span {
    font-style: italic;
    color: var(--text-accent);
}

p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.hero-text {
    margin-top: 40px;
    color: var(--text-inverse);
}

.button {
    display: block;
    border-radius: 100px;
    width: 200px;
    height: 64px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--text-primary);
}

.hero-button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 20px 64px;
    background: var(--text-inverse);
}

.hero-button svg {
    width: 0;
    transition: width 0.3s ease;
}

/* slider section */
.slider-content {
    margin-top: 100px;
    text-align: center;
}

.slider-title > span {
    font-style: italic;
    color: var(--text-accent);
}

.slider-item {
    margin-top: 40px;
    position: relative;
}

.slider-item img {
    width: 480px;
    height: 480px;
}

.slider-subtitle {
    margin-top: 20px;
}

.slider-item--text {
    margin-top: 16px;
    padding: 0 442px;
}

.slider-item--price {
    margin-top: 16px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
    color: var(--text-primary);
}

.slider-arrow-left, .slider-arrow-right {
    border: 1px solid var(--background-container);
    border-radius: 120px;
    width: 60px;
    height: 60px;
}

.slider-arrow-left {
    position: absolute;
    left: 0;
    top: calc(50% - 30px);
    margin-left: 4px;
}

.slider-arrow-right {
    position: absolute;
    right: 0;
    top: calc(50% - 30px);
    margin-right: 4px;
}

.slider-line {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin: 40px auto;
    width: 144px;
    height: 4px;
}

.slider-line span {
    width: 40px;
    height: 4px;
    background: var(--background-container);
}

.slider-line .slider-line--deactive {
    background: var(--border-primary);
}

/* about section */
.about-content {
    margin-top: 100px;
}

.about-text {
    text-align: justify;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 60px;
    line-height: 125%;
    color: var(--text-primary);
}

.about-text span {
    font-style: italic;
    color: var(--text-accent);
}

.about-image {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 1360px;
    height: 1060px;
    max-width: 1360px;
}

.about-image > div {
    border-radius: 20px;
    width: 660px;
    height: 590px;
}

.about-image--item-1 {
    background: url(../images/about-1.jpg) center center / 110% auto no-repeat;
}

.about-image--item-2 {
    background: url(../images/about-2.jpg) center center / 110% auto no-repeat;
}

.about-image--item-3 {
    background: url(../images/about-3.jpg) center center / 110% auto no-repeat;
}

.about-image--item-4 {
    background: url(../images/about-4.jpg) center center / 110% auto no-repeat;
}

.about-image .image-small {
    height: 430px;
}

/* mobile-app section */
.mobile-app-content {
    display: flex;
    gap: 100px;
    margin-top: 100px;
}

.app-title > span {
    font-style: italic;
    color: var(--text-accent);
}

.app-img {
    width: 630px;
    height: 630px;
    background: url(../images/mobile-app.png) center center / cover no-repeat;
}

.app-text {
    margin-top: 144px;
    width: 630px;
    height: 342px;
}

.app-text > p {
    margin-top: 40px;
}

.app-download-buttons {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.app-download-buttons .button svg {
    width: 36px;
    height: 36px;
}

.app-download-buttons .button {
    display: flex;
    gap: 8px;
    align-items: center;
    border: 1px solid var(--background-container);
    border-radius: 100px;
    padding: 12px 20px;
    width: 200px;
    height: 64px;
    text-align: left;
    line-height: 100%;
}

.app-download-buttons .button > span {
    width: 92px;
    height: 40px;
}

.app-download-buttons .button .button-small-text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 10px;
    line-height: 140%;
    color: var(--text-primary);
}

/* disable hover for mobiles */
@media (hover: hover) and (pointer: fine) {
    .nav-link:hover .menu-line {
        width: 100%;
    }

    .theme-dark svg:hover {
        background: var(--dark-border-primary);
    }

    .theme-dark svg:hover path {
        fill: var(--text-inverse);
    }

    .hero-button:hover {
        gap: 10px;
    }

    .hero-button:hover svg {
        width: 20px;
    }

    .about-image > div:hover {
        background-size: cover;
    }

    .app-download-buttons a:hover,
    .app-download-buttons a:hover .button-small-text {
        font-family: var(--font-family);
        color: var(--text-inverse);
        background: var(--background-container);
    }

    .app-download-buttons > a:hover svg path {
        fill: var(--text-inverse);
    }
}